	<div th:switch="${data.getConnections().size()}">
		<noconnections th:case="0">no connections found</noconnections>
		<availableconnections th:case="*">
			<h2>Connections</h2>
			<table>
			   	 <tr th:each="item : ${data.getConnections()}">
			   	 	<td><a th:href="${item.getConnection()}" th:text="${dataretriever.getStandardLabel(item.getConnection())}" th:title="${dataretriever.getAllLabelsAsText(item.getConnection())}" /></td>
			   	 	<td><a th:href="${item.getTargetEncoded()}" th:text="${item.getTarget()}" /></td>
			   	 </tr>
			</table>
		</availableconnections>
	</div>