<footer th:fragment="foot">
	<div class="helpers">
	<h3>Global Links.</h3>
	<ul class="linkstohelpers">
		<li><a href="/">Startpage</a></li>
		<li><a href="/class/">all GameWorld classes</a></li>
		<li><a href="/instance/">all GameWorld instances</a></li>
	</ul>
	</div>
</footer>