    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
                <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
    body { 
        font-family:Open Sans; 
        font-size:12pt; 
        background-color: #f1f1f1; 
        font-color: #333; 
        margin: 0; 
        padding: 1ex;
    }
    h1 { 
	    padding-top: 1ex;
	    padding-bottom: 0.5ex;
	    font-size: 140%; 
	    font-weight: 600; 
    }
    h2 { 
    	margin:0.25ex;
	    padding-top: 1ex;
	    padding-bottom: 1.1ex;
	    font-size: 120%; 
	    font-weight: 600; 
    }
    .availableclasses h2 {
    	margin:0;
	    padding-top: 0.25ex;
	    padding-bottom: 0;
	    font-size: 100%; 
	    font-weight: 500; 
    }
    .availableclasses li {
    	margin-bottom: 0.2ex;
    }  
    
    resource {
    	font-family:courier;
    	padding-bottom:2ex;
    }

	predicate {
		display:block;
		font-size: 70%;
		color:#666;
		background-color: #FFF;
		padding-left:0.2ex;
		padding-right:0.4ex;
		padding-top:0.2ex;
		padding-bottom:0.2ex;
		width:15ex;
	}
	
	.rdfs_label {
		color:#CC0;
		font-style:italic;
	}

	.skos_prefLabel {
		color:#0C0;
		font-weight: bold;
	}

	.skos_altLabel {
		color:#0F0;
	}

	.skos_hiddenLabel {
		color:#9F9;
	}

	availablelabels {
		font-size: 90%;
	}
	
	availablelabels tr {
		border: 1px dotted #999; 
	}	
	
	availablelabels td, availablelabels div {
		vertical-align:middle;
	}

	languageswitcher {
		float:right;
	}
	languageswitcher a {
		font-size:66%;
	}

	td.labellist {
		vertical-align:top;
		padding-right:3ex;
	}
	
	.availableclasses .otherlabels {
		display:none;
	}


	nolabels, noimages, noconnections {
		font-size: 80%;
		background-color:#FCC;
	}
	
	availableimages img {
		float:right;
		max-width:35%;
		margin:1px;
		margin-right:5px;
		-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
	}

    .applicationheader { 
        background-color: #34302D; 
        color:#f1f1f1; 
        padding:0.25ex; 
    }

    .languagebox {
    	padding-bottom:1ex;
    }
    
    language {
    	display:block;
    	border:1px dotted #999;
    	color: #666;
    	padding:0ex;
    	padding-left:0.5ex;
    	padding-right:0.5ex;
    	font-size:60%;
    	width:3ex;
    	text-align:center;
    }
    
    language.de {
    	border-top: 1.5ex solid black;
    	/* border-left: 5px solid red; */
    	/* border-right: 5px solid red; */
    	border-bottom: 1.5ex solid gold;
    	background-color: red;
    	color:#000;
    }

    language.en {
    	border-top: 1.5ex solid red;
    	border-bottom: 1.5ex solid red;
    	background-color: blue;
    	color:#FFF;
    }
    
    
    header { background-color: #34302D; }
    form { margin-left: 1ex; }
        input[type=text] { 
                width:50%; 
                margin-bottom:2ex; 
                max-width:500px; 
                font-size: 13pt; 
                padding:5px;
                border: 1px solid #999;
        }
   	
   	form.goto {
   		border: 1px dotted #666;
    	margin-top: 2ex;
    	padding:1ex;
	}
        
    input[type=text].isempty {
        background-color:#FFC; 
    }
    #sortable {  
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        border: 1px solid #34302D;
    } 
    #sortable.missingcomponentselection {
    	border-color: #FFC;
    }  
    
    div.selection {
        margin: 0; 
        width: 500px; 
        padding:0ex;
    }
    #sortable li {
        margin:0.25ex; 
        padding: 0.25ex; 
        border: 0; 
        font-size:13pt; 
        background-color: #f1f1f1; 
        color: #333; 
        cursor:ns-resize;
    }
    #sortable li.selected {
        background-color:#FFF;
        color:#000;
    }
    #sortable li:hover {
        background-color:#FFFFF0;
    }
    #sortable li.selected:hover {
        background-color:#FFFFF9;
    }
    
    button { 
        font: normal normal normal 14px/1 FontAwesome; 
        margin-top: 1ex; 
        padding:1ex 1ex; 
        transition: background-position .1s linear;
        color: #FFF;
        border-radius: 4px;
        border: 1px solid #999; 
        background-color:#6db33f; 
    } 
    button:hover { 
                border: 1px solid #333; 
        background-color:#73bc42;
    }
    footer {
    	border-top: 1px solid #999;
    	margin-top: 7ex;
    	padding-left: 1ex;
    	padding-top: 4ex;
    	font-size:80%;
    }
    footer a {
    	color:#00F;
    }
    footer a:visited {
    	color:#00F;
    }
    footer a:hover {
    	color:#66F;
    }
    footer h3 {
    	font-size:90%;
    }
    </style>
    <script>
       	// TODO: move minimumNumberOfSelectedComponents to config
       	minimumNumberOfSelectedComponents = 1;
       	
        $(function() {
        		// make the li elements sortable (by drag and drop)
                $( "#sortable" ).sortable();
                // disable text selection on draggable elements 
                $( "#sortable" ).disableSelection();
                // change style of selected elements
                $( "#sortable li input").click( function(){
                        if( $(this).prop("checked") == true ){
                                $(this).addClass("selected");
                                $(this).parents("li").addClass("selected");     
                        } else {
                                $(this).removeClass("selected");
                                $(this).parents("li").removeClass("selected");
                        }                       
                });
                // check the value of the question input
                $("#question").focusout( function(){
                	checkQuestionUriInput(this);
                });
                // check the selections within the component list
                $("#submit").mouseover(function(){
                	checkQuestionUriInput($("#question"));
                	checkComponentList("#sortable",minimumNumberOfSelectedComponents);
                });
        });
        
        function checkQuestionUriInput(inputelement){
                if( $(inputelement).val().trim() == "" ){
                        $(inputelement).addClass("isempty");
                } else {
                        $(inputelement).removeClass("isempty");
                } 
        }
        
        function checkComponentList(blockElementContainingCheckboxes, minimumNumberOfSelectedComponents){
			if( $(blockElementContainingCheckboxes).find("input:checked").length >= minimumNumberOfSelectedComponents){
                $(blockElementContainingCheckboxes).removeClass("missingcomponentselection");
			} else {
				$(blockElementContainingCheckboxes).addClass("missingcomponentselection");
			}	
        }
    </script>