	<div th:switch="${data.getImages().size()}">
		<noimages th:case="0">no images found</noimages>
		<availableimages th:case="*">
			   	 <span th:each="item : ${data.getImages()}">
					<img th:src="${item}" />
			   	 </span>
		</availableimages>
	</div>