		
			<table title="Labels" class="labels">
				<tr>
					<td class="labellist"  title="labels of current language">
						<div th:switch="${data.getLanguageLabels().size()}">
							<availablelabels class="languagelabels">
								<nolabels th:case="0">no labels found</nolabels>
								<table th:case="*">
								   	 <tr th:each="item : ${data.getLanguageLabels()}">
								   	 	<td><predicate th:class="${item.getPredicateAsClassString()}"  th:text="${item.getPredicate()}" /></td>
								   	 	<td class="languagebox"><language th:class="${item.getLanguage()}" th:text="${item.getLanguage()}" /></td>
								   	 	<td th:text="${item}" />
								   	 </tr>
								</table>
							</availablelabels>
						</div>
					</td>
					<td class="labellist"  title="labels in other languages">
						<div th:switch="${data.getOtherLabels().size()}">
							<availablelabels class="otherlabels">
								<nolabels th:case="0">no additional labels found</nolabels>
								<table th:case="*">
								   	 <tr th:each="item : ${data.getOtherLabels()}">
								   	 	<td><predicate th:class="${item.getPredicateAsClassString()}"  th:text="${item.getPredicate()}" /></td>
								   	 	<td class="languagebox"><language th:class="${item.getLanguage()}" th:text="${item.getLanguage()}" /></td>
								   	 	<td th:text="${item}" />
								   	 </tr>
								</table>
							</availablelabels>
						</div>					
					</td>
				</tr>
			</table>

