	<div th:switch="${dataretriever.isEnglishLanguageActivated()}">
		<languageswitcher th:case="true"><language class="en">en</language> <a href="./de">switch to "de"</a></languageswitcher>
		<languageswitcher th:case="false"><language class="de">de</language> <a href="./en">switch to "en"</a></languageswitcher>
	</div>