	<div th:replace="_languageswitcher"/>

   	<h1 th:text="'GameWorld '+${name}" />
   	<resource th:text="${resource}" />

	<div th:replace="_images"/>

	<div th:replace="_labels"/>
	 
	<div th:replace="_connection"/>

 	<properties>
	 	<h2>All Properties</h2>
	    <table>
	    	 <tr th:each="item : ${data.getUriProperties()}">
				<td><a th:href="${item.key}" th:text="${dataretriever.getStandardLabel(item.key)}" th:title="${dataretriever.getAllLabelsAsText(item.key)}" /></td>
				<td><a th:href="${GameWorldConnection.encodedURI(item.value)}" th:text="${item.value}" /></td>
	    	 </tr>
	    	 <tr th:each="item : ${data.getLiteralProperties()}">
				<td><a th:href="${item.key}" th:text="${dataretriever.getStandardLabel(item.key)}" th:title="${dataretriever.getAllLabelsAsText(item.key)}" /></td>
				<td><propertyvalue th:text="${item.value}" /></td>
	    	 </tr>
	    </table>
    </properties>
