<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GameWorld - Class Instances</title> 
 	<meta th:replace="_header"/>        
</head>
<body>
    <div th:replace="_standarddata"/>
    
	<h2>Available Instances of one Class</h2>    
    <ul>
    	<li th:each="item : ${data.getInstances()}" > 
    		<resource><a th:href="'/instance/'+${item.getResourceEncoded()}" th:text="${item.getResource()}" /></resource>
    	</li>
    </ul>
    
    
    <div th:replace="_footer"/>
</body>
</html>