<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GameWorld - Available Classes</title> 
 	<meta th:replace="_header"/>        
</head>
<body> 
	<div th:replace="_languageswitcher"/>

    <h1>Available Classes</h1>
    <ol class="availableclasses">
    	 <li th:each="data : ${list}">
    	 
			<div th:replace="_headlineresource"/>

			<div th:replace="_labels"/>
			
    	 </li>
    </ol>
    
    <div th:replace="_footer"/>
</body>
</html>
