<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GameWorld - Instance</title> 
 	<meta th:replace="_header"/>        
</head>
<body>
    <div th:replace="_standarddata"/>

	<div th:switch="${data.getInstances().size()}">
		<div th:case="0">no instances of this entity available</div>
		<div th:case="*">
			<h2>Available Instances of one Class</h2>    
		    <ul>
		    	<li th:each="item : ${data.getInstances()}" > 
		    		<resource><a th:href="${item.getResourceEncoded()}" th:text="${item.getResource()}" /></resource>
		    	</li>
		    </ul>
	    </div>
    </div>
 

    <div th:replace="_footer"/>
</body>
</html>
