<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GameWorld</title> 
 	<meta th:replace="_header"/>        
</head>
<body>
    <h1 th:text="'GameWorld!'" />
    Using the Stardog endpoint at <a th:href="${dataretriever.conf.getTriplestoreEndpointDomain()}"  th:text="${dataretriever.conf.getTriplestoreEndpointDomain()}" /> 
    (click to check if it works) with credentials 
    (<span th:text="${dataretriever.conf.getTriplestoreEndpointUser()}" />,<span th:text="${dataretriever.conf.getTriplestoreEndpointPassword()}" />) 
    on database "<span th:text="${dataretriever.conf.getTriplestoreEndpointDBname()}" />".
    
    <form action="/entity/" method="POST" class="goto">
    	Complete the GameWorld URL you would like to visit:
    	<div>
    		<input type="TEXT" name="entityuri" value="http://www.hs-anhalt.de/gameworld/" />
    		<input type="SUBMIT" value="goto" />
    	</div>
    </form>

   	 <ul title="last used URIs">
   	 	<li th:each="item : ${dataretriever.getLastUsedUris()}">
   	 		<a th:text="${item.getKey()}" th:href="${item.getValue()}" />
   	 	</li>
   	 </ul>
    
	<div th:replace="_footer"/>
</body>
</html>
