<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GameWorld - All Instances</title> 
 	<meta th:replace="_header"/>        
</head>
<body>
	<div th:replace="_languageswitcher"/>

	<h2>Available Instances</h2>    
    <ol class="availableclasses">
    	<li th:each="data : ${list}" > 
    		<resource><a th:href="${data.getResourceEncoded()}+'/'" th:text="${data.getResource()}" /></resource>
    		<div th:replace="_labels"/>
    	</li>
    </ol>
    
    
    <div th:replace="_footer"/>
</body>
</html>